[Unit]
Description=login Service
[Service]
User=root
Environment=USERS_API_ADDRESS=172.31.57.134:8080
Environment=AUTH_API_PORT=8080
ExecStart=/root/go/src/login/login/login
Restart=always
SyslogIdentifier=login
[Install]
WantedBy=multi-user.target
